body {
    font-size: 1.25em;
    font-family: sans-serif;
    background-image: url("../static/alatoo_2.jpg");
}

.container {
    display: table-column;
    position: absolute;
    left: 70%;
    top: 62%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.redText {
    background-color: white;
    border: 1px solid black;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 8%;
}

form input, select {
    padding: .75em 1em;
    appearance: none;
    line-height: normal;
    border: none;
    margin-bottom: 4.5%;
    font: inherit;
    width: 100%;
    background: gray;
    color: black;
    border-radius: 20px;
}

input[type=submit] {
    background: gray;
    font-size: 22px;
}


input[type=submit]:hover {
    background-color: #ddd;
    cursor: pointer;
}

form {
    max-width: 30em;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}

form .half {
    width: calc(50% - 1px);
}

input[type=date] {
    background: gray;
    border: solid;
}

html {
    -webkit-font-smoothing: antialiased;
}

.topnav {
    background-color: transparent;
    overflow: hidden;
    font-family: sans-serif;
    border-radius: 20px;

}

.topnav a {
    float: left;
    color: black;
    padding: 14px 16px;
    font-weight: 300;
    text-decoration: none;
    font-size: 24px;
    background: gray;
    border-radius: 20px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background: gray;
    color: black;
}

.topnav a.active:hover {
    background-color: #ddd;
    color: black;
}
@import url(../static/libs/bootstrap/bootstrap.min.css);
body {
    background-color: rgb(216, 236, 161);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    height: 100%;
}

.page-container{
    position: relative;
    min-height: 100%;
}

a:visited {
    color:inherit;
}

a {
    text-decoration: none;
}

.header{
    background-color: rgb(105, 105, 229);
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.header_link{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
}

.header_link:hover{
    color: black;
}

.logo_img {
    width: 50px;
    height: 50px;
}

.header_logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.footer {
    background-color: rgb(105, 105, 229);
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 2px black;
    position: fixed;
    left: 0;
    bottom: 0;
}

.home-box {
    width: 1040px;
    height: 950px;
    margin-right: 2600px;
    padding: 30px 0px;
    border-radius: 20px;
}

.home_img {
    width: 350px;
    height: 350px;
    border-radius: 10%;
    transition: .7s all ease-in-out;

}

.home_img:hover{
    transform: scale(1.2);
}

.home_box{
    text-align: center;
    cursor: pointer;
    width: 380px;
    margin: 0 auto;
}

.home_img_box {
    overflow: hidden;
}

.row {
    margin-bottom: 40px;
}

.home_title {
    margin-bottom: 20px;
}

.home_title:hover {
    color: rgb(39, 137, 223);
}

.form {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 430px;
    border-radius: 5%;
    margin: 0 auto;
    padding-top: 10px;
}

.form-title {
    color: black;
    text-shadow: none;
}

.form.login {
    height: 270px;
}

.signup-input {
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    height: 60px;
    width: 250px;
}

.signup-main {
    text-align: center;
}

.main {
    padding-top: 40px;
    padding-bottom: 120px;
    text-shadow: 1px 1px 2px white;
    background: url("../imgs/alatoo_2.jpg") center/cover no-repeat;
}

.main.login{
    padding-bottom: 0;
}

.signup-btn {
    border: none;
    background-color: rgb(88, 48, 190);
    border-radius: 5px;
    width: 80px;
    height: 40px;
    color: white;
}

.football-box {
    margin: 0 auto;
    background-color: #d5dce695;
    height: 500px;
    width: 1040px;
    border-radius: 20px;
    padding-top: 20px;
}

.football-box__title {
    margin-bottom: 20px;
}

.football_title {
    margin-bottom: 30px;
}

.book-btn {
    border: none;
    background-color: rgb(88, 48, 190);
    color: white;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    width: 80px;
    height: 40px;
}

.book-input {
    border: none;
    outline: none;
    margin-bottom: 20px;

}

.football{
    text-align: center;
    position: relative;
    opacity: .9;
    padding: 40px 0px;
}

.volleyball{
    text-align: center;
    background: url('../imgs/volleyball_2.jpg') center/cover no-repeat;
    position: relative;
}

.main.picnic {
    text-align: center;
    background: url('../imgs/picnic_2.jpg') center/cover no-repeat;
    position: relative;
}

.main.canteen {
    text-align: center;
    background: url('../imgs/canteen_2.jpeg') center/cover no-repeat;
    position: relative;
}

.icons-box {
    color: white;
    margin-bottom: 10px;
}

.icons-box i:hover{
    color: black;
}

.footer-link:hover {
    color: black;
}

.select {
    outline: none;
    margin-bottom: 20px;
}

.list-box {
    margin: 0 auto;
    background-color: #d5dce695;
    width: 1040px;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    font-size: 26px;
}

.about-minbox {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.about-box {
    margin: 0 auto;
    background-color: #d5dce695;
    width: 1040px;
    border-radius: 20px;
    padding: 20px 0px;
}

.about-img {
    width: 350px;
    height: 350px;
}

.about {
    margin-top: 30px;
    text-align: center;
}

.about-box__text{
    width: 480px;
    font-size: 27px;
}

.about-title {
    margin-top: 40px;
}

    
    