<html >
<html>
<head>
    <link th:href="@{/form-stylesheet.css}" rel="stylesheet">
</head>
<body>
<div class="page-container">
    <header class="header">
        <div class="header_logo">
            <img src="imgs/logo.png" alt="" class="logo_img">
        </div>
        <nav class="nav">
            <a href="#home" class="header_link">Home</a>
            <a href="#book" class="header_link">Book</a>
            <a th:href="@{/inventory}" class="header_link">List</a>
        </nav>
    </header>
    <main class="main">
        <section class="home" id="home">
            <div class="container">
                <div class="home-box">
                    <div class="row">
                        <div class="col-6">
                            <div class="home_box">
                                <a href="#football">
                                    <h2 class="home_title">Football field</h2>
                                    <div class="home_img_box">
                                        <img src="imgs/football_1.jpg" alt="" class="home_img">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="home_box">
                                <a href="#volleyball">
                                    <h2 class="home_title">Volleyball pitch</h2>
                                    <div class="home_img_box">
                                        <img src="imgs/volleyball_1.jpg" alt="" class="home_img">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="home_box">
                                <a href="#picnic">
                                    <h2 class="home_title">Picnic hoster</h2>
                                    <div class="home_img_box">
                                        <img src="imgs/picnic.jpg" alt="" class="home_img">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="home_box">
                                <a href="#dining">
                                    <h2 class="home_title">Dining hall</h2>
                                    <div class="home_img_box">
                                        <img src="imgs/canteen.jpg" alt="" class="home_img">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<div class="container">
    <form method="post" th:object="${item}" th:action="@{/submitItem}">
        <p style="color: red" class="redText" th:errors="*{category}"></p>
        <select class="select" th:field="*{category}">
            <option style="color:blue" value="">Choose Category</option>
            <option th:each="category: ${categories}" th:text="${category}" th:value="${category}"> Placeholder </option>
        </select>
        <p style="color: red" class="redText" th:errors="*{name}"></p>
        <input type="text" style="color: black; " placeholder="Name" th:field="*{name}">
        <p style="color: red" class="redText" th:errors="*{price}"></p>
        <p style="color: red" class="redText" th:errors="*{discount}"></p>
        <input class="half" style="background-color: gray; color: black;" type="time" placeholder="time from" th:field="*{price}">
        <input class="half" style="background-color: gray; color: black;" type="time" placeholder="time to" th:field="*{discount}">
        <p style="color: red" class="redText" th:errors="*{date}"></p>
        <input type="date" style="color:black" th:field="*{date}">
        <input type="hidden" th:field="*{id}">
        <input type="submit" value="Submit Order">
    </form>
</div>
        <script src="/libs/icons/all.min.js"></script>
        <script src='../static/libs/calendar/rome.js'></script>
        <script src='../static/libs/calendar/example.js'></script>
</body>
</html>