<html >
<html>
    <head> 
        <link th:href="@{/inventory-stylesheet.css}" rel="stylesheet"> 
    </head>    
    <body>
        <header class="header">
            <div class="header_logo">
                <img src="imgs/logo.png" alt="" class="logo_img">
            </div>
            <nav class="nav">
                <a th:href="@{/}" class="header_link">Home</a>
                <a href="#book" class="header_link">Book</a>
                <a th:href="@{/inventory}" class="header_link">List</a>
            </nav>
        </header>

        <div class="alert success" th:if="${status} == 'success'">
            <strong> You successfully submitted the date and time! </strong>
        </div>

        <div class="alert" th:if="${status} == 'failed'">
            <strong > You failed to submit the item. </strong> 
       </div>

        <div class="container">
           <table>
              <tr class="head">
                 <th>Place to book</th>
                 <th>Who are you?</th>
                 <th>Start at</th>
                 <th>End at</th>
                 <th>Which day</th>
                 <th> </th>
              </tr>
              <tr th:each="item: ${items}">
                 <td th:text="${item.category}"></th>
                 <td th:text="${item.name}"></td>
                 <td th:text="${(item.price)}"></td>
                 <td th:text="${(item.discount)}"></td>
                 <td type="date" th:text="${#dates.format(item.date, 'yyyy-MM-dd')}"></td>
                 <td>
                    <a role="button" style="color:black; background-color: bisque" class="table-button" th:href="@{/(id = ${item.id})}">Update</a>
                 </td>
              </tr>
           </table>
        </div>
   </body>
</html>